<%- include('partials/header') %>

<div class="action">
  <div class="profile" onclick="menuToggle();">
    <img src="<%=currentUser.thumbnail%>">
  </div>
  <div class="menu">
    <h3><%=currentUser.username%></h3>
    <ul>
      <li><img src="images/user.png"><a href="#">My Profile</a></li>
      <li><img src="images/edit.png"><a href="#">Edit profile</a></li>
      <li><img src="images/envelope.png"><a href="#">Inbox</a></li>
      <li><img src="images/settings.png"><a href="#">Settings</a></li>
      <li><img src="images/help.png"><a href="#">Help</a></li>
      <li><img src="images/log-out.png"><a href="#">Log out</a></li>
  </div>
</div>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <% usersWithSecrets.forEach(function(user){ %>
    <p class="secret-text"><%=user.secret%></p>
    <% }) %>

    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>
<script type="text/javascript">
  function menuToggle() {
    const toggleMenu = document.querySelector(".menu");
    toggleMenu.classList.toggle("active");
  }
</script>
<%- include('partials/footer') %>
